!!! 5
%html
  %head
    %script{ src : "/js/vendor/underscore-min.js"}
    %script{ src : "/js/vendor/jquery-1.8.2.min.js"}
    %script{ src : "/socket.io/socket.io.js"}
    %script{ src : "/js/vendor/backbone-min.js"}
    %script{ src : "/socket.io/backbone.io.js"}
    %script{ src : "/js/vendor/yabble.js"}
    %script{ src : "/js/vendor/gamejs.min.js"}


  %body{ style : "background-color:black" }
    %div{style: "margin: auto; border: 2px solid white; width: 1000px; height:590px"}
      %canvas#gjs-canvas
  %script{ src : "/js/client.js"}
