div {position:relative;}
fieldset, p, li, div, span, a, ul{margin:0;padding:0;}
.tgrid { border-spacing: 10px;
display: table;
border-collapse: separate;
}
fieldset {
  border: 1px solid;
  margin-bottom:30px;
}
legend { margin-left:30px; }

h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
  color: #164365;
   font-weight:bold;
}
h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
  color: #164365;
 font-weight:bold;
}
b{color:#ccf; font-size:90%;}

a{color:#1F497D;text-decoration:none;font-weight:900}
a:hover{text-decoration:underline;}
a:visited{}

.black{background-color:black}
.right{ float:right; right:0;}
.left{ float:left; left:0;}
.aright { text-align:right;}
.acenter { text-align:center;}
.tab { height:20px; width:40px;}
.inline {display:inline}
.pre-wrap {
  overflow: auto; 
  white-space: pre-wrap
}

body {

  background-color: black;
}

div#container {
	width: 90%;
  position: absolute;
  margin-left:4%;
  //bottom: 10px;
  background-color: black;
}
div#core {
  height: 99%;
  width: 99%;
  //bottom: 20px;
}

div#core-foot {
  bottom:0px
}

form input {
  background-color: transparent;
  width: 90%;
  min-width: 15px;
  border: none;
}

.cmd {
  font-family: courier;
  font-size: 13pt;
  line-height: 1.2;
  background: black;
  color: #21f838;
  overflow: hidden;
}

#cursor {
  float: left;
  width: 8px;
  height: 14px;
  background: #21f838;
}
  
.system {
  color:#006400;
  margin:0;
  padding:0;
  font-weight: 200;
  font-size: 105%;

}

.ai {
  color:#009400;
  margin:0;
  padding:0;
  font-weight: 200;
  font-size: 105%;

}
